# VCS and editor
.git
.gitignore
.DS_Store
.envrc

# Python artifacts
__pycache__/
*.pyc
*.egg-info/
.python-version
venv/

# Env and logs
*.log
*.env
*.swp

# Build/test artifacts
tests/
coverage/
bin/
*.out
*.exe

# Markdown/docs
*.md
